# grafana-helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  releaseName: grafana
  chart:
    spec:
      chart: grafana
      version: 8.9.0
      sourceRef:
        kind: HelmRepository
        name: grafana-repo
        namespace: grafana
  interval: 5m0s
  values:
    persistence:
      enabled: false
      size: 10Gi
    adminPassword: "123456789"
    resources:
      requests:
        memory: "256Mi"
        cpu: "50m"
      limits:
        memory: "512Mi"
        cpu: "200m"
