# loki-helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: grafana
spec:
  releaseName: loki
  chart:
    spec:
      chart: loki
      version: 2.8.2
      sourceRef:
        kind: HelmRepository
        name: loki-repo
        namespace: flux-system
  interval: 5m0s
  values:
    persistence:
      enabled: true
      size: 10Gi
    resources:
      requests:
        memory: "256Mi"
        cpu: "50m"
      limits:
        memory: "512Mi"
        cpu: "200m"
