
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: grafana
spec:
  releaseName: loki
  chart:
    spec:
      chart: grafana/loki-stack
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: grafana
  values:
    loki:
      persistence:
        enabled: false
    promtail:
      enabled: false
    replicaCount: 1
