# loki-helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  releaseName: loki
  chart:
    spec:
      chart: loki
      version: 2.8.2
      sourceRef:
        kind: HelmRepository
        name: loki-repo
        namespace: flux-system
  values:
    persistence:
      enabled: true
      size: 10Gi
    resources:
      requests:
        memory: "1Gi"
        cpu: "250m"
      limits:
        memory: "2Gi"
        cpu: "500m"
