# prometheus-helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  releaseName: prometheus
  chart:
    spec:
      chart: prometheus
      version: 15.6.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-repo
        namespace: flux-system
  values:
    server:
      persistentVolume:
        enabled: true
        size: 10Gi
    resources:
      requests:
        memory: "2Gi"
        cpu: "500m"
      limits:
        memory: "4Gi"
        cpu: "1"
