apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tempo
  namespace: kp-stack
spec:
  interval: 5m
  chart:
    spec:
      chart: tempo
      version: "1.8.1"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: kp-stack
  values:
    storage:
      trace:
        backend: local
    persistence:
      enabled: true
      size: 1Gi
      accessModes:
        - ReadWriteOnce
      storageClass: standard
    compactor:
      compaction:
        block_retention: 24h
